#include "aboutdlg.h"
#include <windows.h>

icon_1 ICON PRELOAD FIXED icon_1.ico
icon_2 ICON PRELOAD FIXED icon_2.ico

IDD_ABOUT DIALOG PRELOAD FIXED DISCARDABLE 18, 18, 142, 92
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
	ICON "ICON_1", -1, 18, 15, 14, 16, WS_CHILD | WS_VISIBLE
	DEFPUSHBUTTON "OK", IDOK, 59, 71, 24, 14
	CONTROL "Version:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 41, 46, 27, 8
	CONTROL "", IDD_VERSION, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 69, 46, 28, 8
	CONTROL "(c) Stefan Knodt 2002", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 41, 58, 56, 8
	CONTROL "", IDD_PROGRAM, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 45, 6, 69, 8
	CONTROL "", IDD_COMMENT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 44, 18, 87, 19
	CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 11, 40, 121, 1
END
